*
!*/

!upstream*
!libtinyobjloader/tests/models
!libtinyobjloader/tests/tester/assets

!*.h
!*.c
!*.hpp
!*.cpp
!*.cc
!*.inc
!*.in
!*.orig
!*.txt

!*.obj
!*.mtl

!.build2/**
!buildfile
!bootstrap.build
!root.build
!export.build
!*manifest
!*testscript

!*.md
!LICENSE

!.git*
